@import "./reset.css";


main div{
    margin-top:0em;
    margin-left:33em;
}


div h1{
    font-size:3em;
}

div p{
    font-size: 1.5em;
    margin-left:7em;
}

div p:nth-child(3){
    margin-left:6em;
}

.button {
    display: inline-block; 
    padding: 0.6em 0.8em; 
    background-color: #007BFF; 
    color: white; 
    text-decoration: none; 
    border-radius: 2em; 
    border: none; 
    margin-left:10.3em;
    margin-top:1em;
}

.button:hover {
    background-color: #0056b3;
}
