@import "./reset.css";


main div:nth-child(1){
  
    background-color:rgb(164, 145, 164);
    padding-top:3em;
    padding-bottom:4em;
    border-bottom-left-radius:4em;
    border-bottom-right-radius:4em;
}

div:nth-child(1) h1{
    font-weight:400;
    font-size:2.5em;
    margin-top:2em;
    margin-left:11.5em;
    color:rgb(58, 0, 58);
}

div:nth-child(1) p{
    margin-left:30em;
    margin-top:1.2em;
    font-size:1.2em;
}

div:nth-child(1) p:nth-child(3)
{
    margin-top:0.3em;
    margin-left:21.2em;
    font-size:2em;
    color:rgb(83, 17, 83);
}

div:nth-child(1) p:nth-child(4)
{
    margin-top:0.5em;
    margin-left:21em;
    font-size:1.5em;
    color:black;
}

div h1{
    font-size:1.5em;
    font-weight:700;
}

.button {
    display: inline-block; 
    padding: 0.6em 0.8em; 
    background-color:rgb(97, 48, 97); 
    color: white; 
    text-decoration: none; 
    border-radius: 2em; 
    border: none; 
    margin-left:41.5em;
    margin-top:1em;
}

.button:hover {
    background-color:rgb(48, 7, 48);
}

.green{
    background-color:rgb(80, 126, 80);
    padding:1em;
    font-size:1.2em;
    border:0.15em solid rgb(2, 83, 2);
    margin-left:1em;
    margin-right:1em;
}

.red{
    background-color:rgb(171, 107, 107);
    padding:1em;
    font-size:1.2em;
    border:0.15em solid red;
    margin-left:1em;
    margin-right:1em;
}

.red p, .green p{
    display:inline-block;
}

 main div:nth-of-type(2) h1{
    font-size: 1.7em;
    margin-left:2em;
}

 .results{
    background-color:rgb(164, 145, 164);
    border-top-right-radius:2em;
    border-top-left-radius:3em;
}